h1{
  color: green;
  text-align: center;
}
p{
  text-align: center;
  color: orangered;
  font-size: xx-large;
  font-family: Jokerman;
}

app-footer{
  text-align: center;
}


.size{
  width: 250px;
  height: 190px;
}
